.faq {
  &__inner {
    display: flex;
    justify-content: space-between;
    @include desktop {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin: 0;

    padding-top: 35px;
    max-width: 348px;
  }

  &__accordion {
    width: 766px;
    padding-top: 38px;
    @include tablet {
      width: 100%;
    }
  }

  &__accordion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 680px;
    margin-bottom: 12px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: var(--title-color);
    &.is-open {
      .faq__accordion-icon::before {
        transform: rotate(0deg);
      }
    }
    @include tablet {
      max-width: calc(100vw - 140px);
      font-size: 16px;
    }
  }
  &__accordion-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
    &::after,
    &::before {
      @include pseudo;
      position: absolute;
      right: -70px;
      width: 2px;
      height: 20px;
      background-color: var(--btn-color);
      border-radius: 2px;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
    &::before {
      width: 20px;
      height: 2px;
      right: -79px;
      transform: rotate(90deg);
    }
  }
  &__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    p {
      margin-bottom: 32px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 32px;
    }
  }
}
// max-width: calc(100vw - 140px);
