.header {
  padding-top: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  transition: all 0.3s;
  &__inner {
    height: 80px;
    @include flex-all-sb;
  }
}
.header--fixed {
  position: fixed;
  background-color: #fff;
  padding-top: 0;
  .logo {
    width: 60px;
    height: 60px;
    @include tablet {
      width: 48px;
      height: 48px;
    }
  }
  .nav__link {
    color: var(--title-color);
    padding: 3px 5px;
    transition: all 0.3s;
    &:hover {
      border-bottom: 2px solid var(--btn-color);
    }
    &.nav__link--active {
      border-bottom: 2px solid var(--btn-color);
    }
  }
}
.logo {
  z-index: 500;
  @include tablet {
    width: 48px;
    height: 48px;
  }
}
