.hero {
  padding: 225px 0;
  background-image: url("../../img/hero-bg.jpg");

  &::after {
    @include pseudo;
    position: absolute;
    width: 168px;
    height: 548px;
    opacity: 0.6;
    background-image: url("../../img/zoov.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: 160px;
    @include mobile {
      width: 90px;
      height: 330px;
      top: 390px;
    }
  }
  @include bg-cover;
  &__info {
    width: 408px;
    margin-right: auto;
    @include min {
      width: 320px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 17px;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #ffffff;
    z-index: 1;
    background-image: url("../img/hero-ellips.svg");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 181px 71px;

    @include mobile {
      font-size: 44px;
      line-height: 130%;
      background-size: 49%;
      background-position: 0px 54px;
    }
    @include min {
      background-size: 55%;
      background-position: 0px 114px;
    }
  }

  &__descr {
    margin: 0;
    max-width: 367px;
    margin-bottom: 32px;
    font-size: 20px;
    color: var(--light-color);
    @include min {
      max-width: 305px;
    }
  }

  &__btn {
    @include hoverred;
    padding: 13px 42px;
    color: var(--light-color);
    background-color: var(--btn-color);
    border-radius: 8px;
    transition: all 0.3s;
  }
}
