.hero {
  padding: 225px 0;
  background-image: url("../../img/hero-bg.jpg");

  &::after {
    @include pseudo;
    position: absolute;
    width: 168px;
    height: 548px;
    opacity: 0.6;

    background-image: url("../../img/zoov.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 160px;
  }
  @include bg-cover;
  &__info {
    width: 408px;
    margin-right: auto;
  }

  &__title {
    margin: 0;
    margin-bottom: 17px;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #ffffff;
    z-index: 1;

    position: relative;
    z-index: 1;
    &::after {
      @include pseudo;
      position: absolute;
      width: 265px;
      height: 100px;
      background-image: url("../img/hero-ellips.svg");
      right: -27px;
      bottom: 49px;
      z-index: -1;
    }
  }

  &__descr {
    margin: 0;
    max-width: 367px;
    margin-bottom: 32px;
    font-size: 20px;
    color: var(--light-color);
  }

  &__btn {
    padding: 13px 42px;
    color: var(--light-color);
    background-color: var(--btn-color);
    border-radius: 8px;
  }
}
