.thanks {
  &__container {
    width: 872px;
    height: 533px;
    @include tablet {
      width: 90%;
      height: auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__img {
    min-height: 421px;
    margin-right: 45px;
    @include tablet {
      margin-bottom: 20px;
    }
    @include small-tablet {
      margin-right: 0;
    }
  }

  &__info {
    max-width: 373px;
  }

  &__info-title {
    margin: 0;
    margin-bottom: 22px;
    color: var(--btn-color);
  }

  &__info-text {
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 130%;
    color: var(--title-color);
  }
}
