<section class="about section-offset" id="barf">
  <div class="container">
    <div class="about-top">
      <div class="about-top__content">
        <h3 class="about-top__title title">Что такое BARF</h3>
        <p class="about-top__text">BARF (Biologically Appropriate Raw Food) — система питания собак, основанная на сырых
          натуральных продуктах. Такой рацион максимально приближен к естественному пищевому поведению хищников, а
          значит биологически правилен. </p>
        <p class="about-top__list-title">После перехода на питание по системе BARF у собак:</p>
        <ul class="about-top__list">
          <li class="about-top__list-item">Нормализуется пищеварение</li>
          <li class="about-top__list-item">Проходят аллергические реакции</li>
          <li class="about-top__list-item">
            Прекращается образование зубного камня</li>
          <li class="about-top__list-item">
            Появляется больше энергии</li>
          <li class="about-top__list-item">Увеличивается продолжительность жизни</li>
        </ul>
      </div>
      <img class="about-top__img" src="../img/about.jpg" alt="Собака ест мясо">
    </div>
    <div class="about-bottom">
      <div class="about-bottom__adult">
        <p class="about-bottom__adult-title">Для взрослых</p>
        <div class="about-bottom__adult-inner">
          <div class="about-bottom__adult-items">
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#meat"></use>
              </svg>
              Мясо – 70%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#bone"></use>
              </svg>
              Кости – 10%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#veg"></use>
              </svg>
              Овощи – 7%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#leaver"></use>
              </svg>
              Печень – 5%
            </div>
          </div>
          <div class="about-bottom__adult-items">
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#sub"></use>
              </svg>
              Субпродукты – 5%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#seed"></use>
              </svg>
              Семена/Орехи – 2%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#fruit"></use>
              </svg>
              Фрукты – 1%
            </div>
          </div>
        </div>
      </div>
      <div class="about-bottom__kids">
        <p class="about-bottom__adult-title">Для щенков</p>
        <div class="about-bottom__adult-inner">
          <div class="about-bottom__adult-items">
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#meat"></use>
              </svg>
              Мясо – 70%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#bone"></use>
              </svg>
              Кости – 10%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#veg"></use>
              </svg>
              Овощи – 7%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#leaver"></use>
              </svg>
              Печень – 5%
            </div>
          </div>
          <div class="about-bottom__adult-items">
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#sub"></use>
              </svg>
              Субпродукты – 5%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#seed"></use>
              </svg>
              Семена/Орехи – 2%
            </div>
            <div class="about-bottom__adult-item">
              <svg class="about-bottom__adult-svg">
                <use xlink:href="img/sprite.svg#fruit"></use>
              </svg>
              Фрукты – 1%
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
