<section class="about section-offset" id="barf">
  <div class="container">
    <div class="about-top">
      <div class="about-top__content">
        <h3 class="about-top__title title">Что такое BARF</h3>
        <p class="about-top__text">BARF (Biologically Appropriate Raw Food) — система питания собак, основанная на сырых
          натуральных продуктах. Такой рацион максимально приближен к естественному пищевому поведению хищников, а
          значит биологически правилен. </p>
        <p class="about-top__list-title">После перехода на питание по системе BARF у собак:</p>
        <ul class="about-top__list">
          <li class="about-top__list-item">Нормализуется пищеварение</li>
          <li class="about-top__list-item">Проходят аллергические реакции</li>
          <li class="about-top__list-item">
            Прекращается образование зубного камня</li>
          <li class="about-top__list-item">
            Появляется больше энергии</li>
          <li class="about-top__list-item">Увеличивается продолжительность жизни</li>
        </ul>
      </div>
      <img class="about-top__img" src="../img/about.jpg" alt="Собака ест мясо">
    </div>
    <div class="about-bottom">
      <div class="swiper about-swiper">
        <div class="swiper-wrapper about-swiper__wrapper">

          <div class="swiper-slide about-swiper__slide">
            <div class="about-swiper__slide-wrapper">

              <p class="about-swiper__title">Для взрослых</p>
              <ul class="about-swiper__list list-reset">
                <div class="about-swiper__list-box">
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#meat"></use>
                    </svg>Мясо – 70%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#bone"></use>
                    </svg>Кости – 10%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#veg"></use>
                    </svg>Овощи – 7%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#leaver"></use>
                    </svg>Печень – 5%</li>
                </div>
                <div class="about-swiper__list-box">
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#sub"></use>
                    </svg>Субпродукты – 5%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#seed"></use>
                    </svg>Семена/Орехи – 2%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#fruit"></use>
                    </svg>Фрукты – 1%</li>
                </div>
              </ul>
            </div>
          </div>

          <div class="swiper-slide about-swiper__slide">
            <div class="about-swiper__slide-wrapper">

              <p class="about-swiper__title">Для щенков</p>
              <ul class="about-swiper__list list-reset">
                <div class="about-swiper__list-box">
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#meat"></use>
                    </svg>Мясо – 70%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#bone"></use>
                    </svg>Кости – 10%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#veg"></use>
                    </svg>Овощи – 7%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#leaver"></use>
                    </svg>Печень – 5%</li>
                </div>
                <div class="about-swiper__list-box">
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#sub"></use>
                    </svg>Субпродукты – 5%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#seed"></use>
                    </svg>Семена/Орехи – 2%</li>
                  <li class="about-swiper__list-item"> <svg class="about-bottom__svg">
                      <use xlink:href="img/sprite.svg#fruit"></use>
                    </svg>Фрукты – 1%</li>
                </div>
              </ul>
            </div>
          </div>


        </div>
        <div class="swiper-pagination about-swiper__pagination"></div>
      </div>
    </div>
</section>
