<section class="care section-offset" id="care">
  <div class="container">
    <div class="care__inner">
      <div class="care__imgbox">
        <img class="care__img" src="img/care/1.jpg" alt="">
        <img class="care__img care__img--top" src="img/care/2.jpg" alt="">
      </div>
      <div class="care__content">
        <h3 class="care__title title">С заботой и любовь от Zooov</h3>
        <p class="care__text">
          Мы сами владельцы собак и знаем, как важно правильное и качественное питание для долгой и счастливой жизни
          вашего питомца. Для нас ZOOOV это не просто бизнес, это наш вклад в повышение качества жизни всех собак.
        </p>
        <p class="care__text">
          Мы знаем, как правильно подобрать и переработать мясо, субпродукты, овощи и фрукты, чтобы питание вашего
          питомца было максимально сбалансированным и полезным.
        </p>
        <p class="care__text">
          Обычного сырого мяса из магазина будет недостаточно для полноценного питания собаки. ZOOOV — экономия времени,
          вам не придется искать необходимые составляющие для рациона.
        </p>
        <p class="care__text">
          Мы сами отбираем мясо, кости, легкие, печень и другие говяжьи, кроличьи и птичьи субпродукты у проверенных
          поставщиков. Закупаем органические овощи и используем разнообразные масла, такие как конопляное и льняное.
        </p>
        <p class="care__text">
          ZOOOV — это удобно, мы доставляем готовый рацион на две недели уже смешанным, расфасованным и упакованным в
          порционные лотки,готовыми к заморозке. За два часа до кормления достаточно переместить контейнер из морозилки
          в холодильник для ПРАВИЛЬНОЙ разморозки.
        </p>
      </div>
    </div>
  </div>
</section>
