<section class="diet section-offset" id="diet">
  <div class="container">
    <div class="diet__top">
      <h3 class="diet__title title">Рационы ZOOOV</h3>
      <p class="diet__text">Система питания взрослой собаки не подойдет для щенка, поэтому мы создали разные
        по составу рационы ZOOOV. Вы сможете заказать полноценное питание исходя из возраста, веса и даже вкусовых
        предпочтений вашего друга. ZOOOV заботится о каждой собаке.</p>
    </div>
    <div class="diet__content">
      <div class="diet__item">
        <img class="diet__item-img" src="img/diet/1.jpg" alt="">
        <div class="diet__item-info">
          <h5 class="diet__item-title">Для взрослых собак</h5>
          <p class="diet__item-text">Индейка/Говядина</p>
          <p class="diet__item-descr">Подходит для ежедвеного кормления. Богат животными белками и Омега-3.</p>
          <p class="diet__item-text diet__item-text--num">700г / 500г / 300г / 150г / 100г</p>
          <button class="diet__item-btn btn-reset" data-graph-path="diet">Заказать</button>
        </div>
      </div>
      <div class="diet__item">
        <img class="diet__item-img" src="img/diet/2.jpg" alt="">
        <div class="diet__item-info">
          <h5 class="diet__item-title">Для щенков</h5>
          <p class="diet__item-text">Индейка/Говядина</p>
          <p class="diet__item-descr">Подходит для ежедвеного кормления. Богат животными белками и Омега-3.</p>
          <p class="diet__item-text diet__item-text--num">700г / 500г / 300г / 150г / 100г</p>
          <button class="diet__item-btn btn-reset" data-graph-path="diet">Заказать</button>
        </div>
      </div>
      <div class="diet__item">
        <img class="diet__item-img" src="img/diet/3.jpg" alt="">
        <div class="diet__item-info">
          <h5 class="diet__item-title">Для взрослых собак</h5>
          <p class="diet__item-text">Баранина/Кролик</p>
          <p class="diet__item-descr">Подходит для ежедвеного кормления. Богат животными белками и Омега-3.</p>
          <p class="diet__item-text diet__item-text--num">700г / 500г / 300г / 150г / 100г</p>
          <button class="diet__item-btn btn-reset" data-graph-path="diet">Заказать</button>
        </div>
      </div>
      <div class="diet__item">
        <img class="diet__item-img" src="img/diet/4.jpg" alt="">
        <div class="diet__item-info">
          <h5 class="diet__item-title">Для щенков</h5>
          <p class="diet__item-text">Баранина/Кролик</p>
          <p class="diet__item-descr">Подходит для ежедвеного кормления. Богат животными белками и Омега-3.</p>
          <p class="diet__item-text diet__item-text--num">700г / 500г / 300г / 150г / 100г</p>
          <button class="diet__item-btn btn-reset" data-graph-path="diet">Заказать</button>
        </div>
      </div>

    </div>
  </div>
</section>
