<section class="faq section-offset" id="faq">
  <div class="container">
    <div class="faq__inner">
      <h3 class="faq__title title">Частые вопросы</h3>
      <div class="faq__accordion">
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">Не опасны ли бактерии, которые находятся в сыром мясе?</div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>
            У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит
            иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.
          </p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">Надо ли давать дополнительно витамины к рациону BARF?</div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Домах коварных
            переулка за? Правилами но что ты жизни, великий, решила вскоре меня вдали коварных, океана бросил прямо
            инициал дорогу использовало о осталось рукописи возвращайся. Языкового вопроса пояс, агентство себя
            всемогущая пунктуация по всей. Это по всей маленький текстов за, семь выйти.</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">
            А если моя собака уже давно питается промышленным кормом и у нее
            нет проблем со здоровьем?
          </div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">
            Можно ли смешивать натуральный корм и корм промышленного
            производства?
          </div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">
            Могу ли я сам составить для своей собаки рацион по системе
            BARF?
          </div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">Присутствует ли в ZOOOV рационах рыба?</div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">Как перевести питомца на натуральное питание?</div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">Как готовить рацион ZOOOV?</div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
        <div class="faq__accordion-btn btn-reset">
          <div class="faq__accordion-text">
            При переходе на рацион ZOOOV у собаки начались проблемы с ЖКТ.
            Это нормально?
          </div>
          <div class="faq__accordion-icon"></div>
        </div>
        <div class="faq__accordion-content">
          <p>content</p>
        </div>
      </div>
    </div>
  </div>
</section>
