<footer class="footer" id="contacts">
  <div class="footer__inner">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-info">
          <h3 class="footer__top-title title">Контакты</h3>
          <p class="footer__top-text">Вы всегда можете с нами связаться
            по телефону или в мессенджерах</p>
          <a class="footer__top-tel" href="tel:+79000000000">+7 (900)000-00-00</a>
          <button class="footer__top-btn btn-reset">Написать в WhatsApp</button>
          <button class="footer__top-btn footer__top-btn--tele btn-reset">Написать в Telegram</button>
          <p class="footer__top-subscribe">
            Подписывайтесь на наш <a class="footer__top-insta" href="#">Instagram</a>
            и следите за новостями
          </p>
        </div>
        <div class="footer__connection">
          <p class="footer__connection-title">Остались вопросы?</p>
          <p class="footer__connection-text">Напишите нам и мы обязательно подробно на них ответим.</p>
          <form action="" class="footer-form">
            <input type="text" class="footer-form__input" placeholder="Имя">
            <input type="email" class="footer-form__input" placeholder=" Email">
            <textarea class="footer-form__textarea" placeholder="Ваш вопрос..."></textarea>
          </form>
          <div class="footer__box">
            <label class="custom-checkbox probe-modal__checkbox kit__checkbox footer__checkbox">
              <input type="checkbox" class="custom-checkbox__field probe-modal__checkbox-field visually-hidden" checked>
              <span class="custom-checkbox__content probe-modal__checkbox-content">
              </span> Даю согласие на обработку
              персональных данных
            </label>
            <button class="footer__btn btn-reset" type="submit">Отправить</button>
          </div>

        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-text">
        ИП Коваленко Евгений Геннадьевич ИНН784215731801, адрес производства г. Санкт-Петербург 17-я линия В.О 66, пом.
        2/07
      </p>
      <a class="footer__bottom-link" href="#">Публичная оферта</a>
      <a class="footer__bottom-link" href="#">Политика конфеденциальности</a>
    </div>
  </div>
</footer>
