<header class="header ">
  <div class="container">
    <div class="header__inner">
      <img class="logo" loading="lazy" src="img/logo80.svg" width="80px" height="80px" alt="logo zoom">
      <nav class="nav" title="">
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="#barf">
              BARF
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#diet">
              Рационы
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#care">
              ZOOOV
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#info">
              О нас
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#howtoget">
              Доставка
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#faq">
              FAQ
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
