<section class="howtoget section-offset">
  <div class="container">
    <h3 class="howtoget__title title">Как получить ZOOOV?</h3>
    <div class="howtoget__items">
      <div class="howtoget__item">
        <div class="howtoget__imgbox">
          <img loading="lazy" src="img/howtoget/1.svg" class="howtoget__image" width="40px" height="40px" alt="">
          <img loading="lazy" src="img/howtoget/arrow.svg" class="howtoget__arrow" width="" height="" alt="">
        </div>
        <p class="howtoget__item-title">Закажите рацион</p>
        <p class="howtoget__item-text">Выберите рацион для своей собаки. Если не знаете сколько
          и какой – <a class="howtoget__item-link" href="#">мы подскажем.</a></p>
      </div>
      <div class="howtoget__item">
        <div class="howtoget__imgbox">
          <img loading="lazy" src="img/howtoget/2.svg" class="image" width="40px" height="40px" alt="">
          <img loading="lazy" src="img/howtoget/arrow.svg" class="howtoget__arrow" width="" height="" alt="">
        </div>
        <p class="howtoget__item-title">Подтвердите заказ</p>
        <p class="howtoget__item-text">Мы свяжемся с вами для подтверждения заказа
          и уточнения деталей.</p>
      </div>
      <div class="howtoget__item">
        <div class="howtoget__imgbox">
          <img loading="lazy" src="img/howtoget/3.svg" class="image" width="40px" height="40px" alt="">
          <img loading="lazy" src="img/howtoget/arrow.svg" class="howtoget__arrow" width="" height="" alt="">
        </div>
        <p class="howtoget__item-title">Ожидайте доставки</p>
        <p class="howtoget__item-text">Привозим заказ на следующий день. По СПб – 350₽, при заказе от 3 500₽ –
          бесплатно. Лен. область – по договоренности.</p>
      </div>
      <div class="howtoget__item">
        <div class="howtoget__imgbox howtoget__imgbox--heart">
          <img loading="lazy" src="img/howtoget/4.svg" class="image" width="40px" height="40px" alt="">

        </div>
        <p class="howtoget__item-title">Радуйте своего питомца</p>
        <p class="howtoget__item-text">Просто разморозьте рацион: при комнатной температуре – 3 часа, в холодильнике –
          12-15 часов.</p>
      </div>
    </div>
  </div>
</section>
