<section class="info section-offset" id="info">
  <div class="container">
    <h3 class="info__title title">Почему ZOOOV</h3>
    <div class="info__items">
      <div class="info__item">
        <img class="info__image" loading="lazy" src="img/info/1.svg" width="" height="" alt="">
        <p class="info__item-title">Натурально</p>
        <p class="info__item-text">Все продукты тщательно отбираем у проверенных поставщиков.</p>
      </div>
      <div class="info__item">
        <img class="info__image" loading="lazy" src="img/info/2.svg" width="" height="" alt="">
        <p class="info__item-title">Здорово</p>
        <p class="info__item-text">Система питания, которая продлевает жизнь
          вашего хвостика.
        </p>
      </div>
      <div class="info__item">
        <img class="info__image" loading="lazy" src="img/info/3.svg" width="" height="" alt="">
        <p class="info__item-title">Сбалансированно</p>
        <p class="info__item-text">Сделайте заказ на сайте
          и с вами свяжется наш менеджер для уточнения деталей.</p>
      </div>
      <div class="info__item info__item--smile">
        <img class="info__image" loading="lazy" src="img/info/4.svg" width="" height="" alt="">
        <p class="info__item-title">Удобно</p>
        <p class="info__item-text">Достаточно разморозить порцию ZOOOV, удалить отрывную крышку с лотка и обед для
          вашего питомца готов.</p>
      </div>
    </div>
  </div>
</section>
