<div class="graph-modal probe-modal kit">
  <div class="graph-modal__container probe-modal__container" role="dialog" aria-modal="true" data-graph-target="cost">
    <button class="btn-reset graph-modal__close probe-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content probe-modal__content">
      <h3 class="probe-modal__title">Рассчет рациона</h3>
      <p class="probe-modal__text">
        Заполните информацию и мы свяжемся с вами, чтобы подсказать с подбором рациона для вашего хвостика.
        Или напишите нам в мессендерах <a href="#">WhatsApp</a> и <a href="#">Telegram</a>.
      </p>
      <label class="custom-checkbox probe-modal__radio">
        <input class="custom-checkbox__field probe-modal__radio-field visually-hidden" type="radio" name="probe1"
          checked>
        <span class="custom-checkbox__content probe-modal__radio-content"></span>Взрослая собака
      </label>
      <label class="custom-checkbox probe-modal__radio">
        <input class="custom-checkbox__field probe-modal__radio-field visually-hidden" type="radio" name="probe1">
        <span class="custom-checkbox__content probe-modal__radio-content"></span>Щенок
      </label>
      <form action="#" class="form probe-modal__form">
        <label class="form__label probe-modal__form-label">
          <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input" placeholder="Вес (кг)">
        </label>
        <label class="form__label probe-modal__form-label">
          <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input" placeholder="Возраст">
        </label>
        <label class="form__label probe-modal__form-label">
          <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input" placeholder="Ваше имя">
        </label>
        <label class="form__label probe-modal__form-label">
          <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input" placeholder="Телефон">
        </label>

        <textarea class="probe-modal__form-textarea"
          placeholder="Если у вашего хвостика есть особенности здоровья – напишите об этом..."></textarea>
        <label class="custom-checkbox probe-modal__checkbox">
          <input type="checkbox" class="custom-checkbox__field probe-modal__checkbox-field visually-hidden" checked>
          <span class="custom-checkbox__content probe-modal__checkbox-content">
          </span> Даю согласие на обработку
          персональных данных
        </label>
        <button class="btn-reset form__btn probe-modal__form-btn">Рассчитать</button>
      </form>
    </div>
  </div>

  <div class="graph-modal__container kit__container" role="dialog" aria-modal="true" data-graph-target="kit">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content kit__content">
      <div class="kit__inner">
        <img class="kit__img" src="img/kitm.jpg" alt="">
        <div class="probe__content-details kit__content-details">Для собак до 10кг</div>
        <div class="kit__info">
          <h4 class="kit__info-title">Набор М</h4>
          <p class="kit__info-text">Вес каждой упаковки – 300г</p>
          <div class="kit__accordion">
            <div class="kit__accordion-item">
              <div class="kit__accordion-box js-kit-btn">
                <p class="kit__accordion-title">Баранина/Кролик </p><span>4 шт</span>
              </div>
              <div class="kit__accordion-content js-kit-content">
                Состав: Мякоть баранины (46,5%), мясо кролика (23,5%), кости
                кролика (10%), печень баранины (5%), почки бараньи (2,5%),
                рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
                конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
                конопляное масло.
              </div>
            </div>
            <div class="kit__accordion-item">
              <div class="kit__accordion-box js-kit-btn">
                <p class="kit__accordion-title">Говядина/Индейка</p><span>3 шт</span>
              </div>
              <div class="kit__accordion-content js-kit-content">
                Состав: Мякоть баранины (46,5%), мясо кролика (23,5%), кости
                кролика (10%), печень баранины (5%), почки бараньи (2,5%),
                рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
                конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
                конопляное масло.
              </div>
            </div>
          </div>
          <form class="kit__form">
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Имя">
            </label>
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Телефон">
            </label>
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Адрес">
            </label>
          </form>
          <label class="custom-checkbox probe-modal__checkbox kit__checkbox">
            <input type="checkbox" class="custom-checkbox__field probe-modal__checkbox-field visually-hidden" checked>
            <span class="custom-checkbox__content probe-modal__checkbox-content">
            </span> Даю согласие на обработку
            персональных данных
          </label>
          <div class="kit__order">
            <div class="kit__order-price">
              <div class="kit__order-old probe__content-old">2 423.-</div>
              <div class="kit__order-new probe__content-new">1 680.-</div>
            </div>
            <button class="kit__order-btn btn-reset">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container kit__container" role="dialog" aria-modal="true" data-graph-target="kitl">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content kit__content">
      <div class="kit__inner">
        <img class="kit__img" src="img/kitl.jpg" alt="">
        <div class="probe__content-details kit__content-details">Для собак до 15кг</div>
        <div class="kit__info">
          <h4 class="kit__info-title">Набор L</h4>
          <p class="kit__info-text">Вес каждой упаковки – 500г</p>
          <div class="kit__accordion">
            <div class="kit__accordion-item">
              <div class="kit__accordion-box js-kit-btn">
                <p class="kit__accordion-title">Баранина/Кролик </p><span>4 шт</span>
              </div>
              <div class="kit__accordion-content js-kit-content">
                Состав: Мякоть баранины (46,5%), мясо кролика (23,5%), кости
                кролика (10%), печень баранины (5%), почки бараньи (2,5%),
                рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
                конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
                конопляное масло.
              </div>
            </div>
            <div class="kit__accordion-item">
              <div class="kit__accordion-box js-kit-btn">
                <p class="kit__accordion-title">Говядина/Индейка</p><span>3 шт</span>
              </div>
              <div class="kit__accordion-content js-kit-content">
                Состав: Мякоть баранины (46,5%), мясо кролика (23,5%), кости
                кролика (10%), печень баранины (5%), почки бараньи (2,5%),
                рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
                конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
                конопляное масло.
              </div>
            </div>
          </div>
          <form class="kit__form">
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Имя">
            </label>
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Телефон">
            </label>
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Адрес">
            </label>
          </form>
          <label class="custom-checkbox probe-modal__checkbox kit__checkbox">
            <input type="checkbox" class="custom-checkbox__field probe-modal__checkbox-field visually-hidden" checked>
            <span class="custom-checkbox__content probe-modal__checkbox-content">
            </span> Даю согласие на обработку
            персональных данных
          </label>
          <div class="kit__order">
            <div class="kit__order-price">
              <div class="kit__order-old probe__content-old">3 983.-</div>
              <div class="kit__order-new probe__content-new">2 770.-</div>
            </div>
            <button class="kit__order-btn btn-reset">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container kit__container" role="dialog" aria-modal="true" data-graph-target="kitxl">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content kit__content">
      <div class="kit__inner">
        <img class="kit__img" src="img/kitxl.jpg" alt="">
        <div class="probe__content-details kit__content-details">Для собак до 20кг</div>
        <div class="kit__info">
          <h4 class="kit__info-title">Набор XL</h4>
          <p class="kit__info-text">Вес каждой упаковки – 700г</p>
          <div class="kit__accordion">
            <div class="kit__accordion-item">
              <div class="kit__accordion-box js-kit-btn">
                <p class="kit__accordion-title">Баранина/Кролик </p><span>4 шт</span>
              </div>
              <div class="kit__accordion-content js-kit-content">
                Состав: Мякоть баранины (46,5%), мясо кролика (23,5%), кости
                кролика (10%), печень баранины (5%), почки бараньи (2,5%),
                рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
                конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
                конопляное масло.
              </div>
            </div>
            <div class="kit__accordion-item">
              <div class="kit__accordion-box js-kit-btn">
                <p class="kit__accordion-title">Говядина/Индейка</p><span>3 шт</span>
              </div>
              <div class="kit__accordion-content js-kit-content">
                Состав: Мякоть баранины (46,5%), мясо кролика (23,5%), кости
                кролика (10%), печень баранины (5%), почки бараньи (2,5%),
                рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
                конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
                конопляное масло.
              </div>
            </div>
          </div>
          <form class="kit__form">
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Имя">
            </label>
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Телефон">
            </label>
            <label class="form__label probe-modal__form-label kit__form-label">
              <input type="text" name="Имя" class="input-reset form__input probe-modal__form-input kit__form-"
                placeholder="Адрес">
            </label>
          </form>
          <label class="custom-checkbox probe-modal__checkbox kit__checkbox">
            <input type="checkbox" class="custom-checkbox__field probe-modal__checkbox-field visually-hidden" checked>
            <span class="custom-checkbox__content probe-modal__checkbox-content">
            </span> Даю согласие на обработку
            персональных данных
          </label>
          <div class="kit__order">
            <div class="kit__order-price">
              <div class="kit__order-old probe__content-old">5 437.-</div>
              <div class="kit__order-new probe__content-new">3 810.-</div>
            </div>
            <button class="kit__order-btn btn-reset">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
