<section class="probe section-offset">
  <div class="container">
    <div class="probe__top">
      <h3 class="probe__title title">Пробные наборы от ZOOOV</h3>
      <p class="probe__text">Порой очень сложно определиться с выбором и хочется попробовать всё и сразу. Ваш хвостик
        может попробовать разные вкусы и определится что ему больше нравится.</p>
    </div>
    <div class="probe__content">
      <div class="probe__content-item">
        <div class="probe__content-imgbox">
          <img class="probe__content-img" src="img/probe/1.jpg" alt="">
          <div class="probe__content-details">Для собак до 10кг</div>
        </div>
        <div class="probe__content-info">
          <h5 class="probe__content-title">Набор M</h5>
          <p class="probe__content-descr">4 шт. – баранина/кролик</p>
          <p class="probe__content-descr">
            3 шт. – говядина/индейка</p>
          <p class="probe__content-descr probe__content-descr--pack">Вес каждой упаковки – 300г</p>
          <div class="probe__content-price">
            <p class="probe__content-old">2 423.-</p>
            <p class="probe__content-new">1 680.-</p>
          </div>
        </div>
        <button class="probe__content-btn btn-reset" data-graph-path="kit">Заказать</button>
      </div>
      <div class="probe__content-item">
        <div class="probe__content-imgbox">
          <img class="probe__content-img" src="img/probe/2.jpg" alt="">
          <div class="probe__content-details">Для собак до 15кг</div>
        </div>
        <div class="probe__content-info">
          <h5 class="probe__content-title">Набор L</h5>
          <p class="probe__content-descr">4 шт. – баранина/кролик</p>
          <p class="probe__content-descr">
            3 шт. – говядина/индейка</p>
          <p class="probe__content-descr probe__content-descr--pack">Вес каждой упаковки – 500г</p>
          <div class="probe__content-price">
            <p class="probe__content-old">3 983.-</p>
            <p class="probe__content-new">2 770.-</p>
          </div>
        </div>
        <button class="probe__content-btn btn-reset" data-graph-path="kitl">Заказать</button>
      </div>
      <div class="probe__content-item">
        <div class="probe__content-imgbox">
          <img class="probe__content-img" src="img/probe/3.jpg" alt="">
          <div class="probe__content-details">Для собак до 20кг</div>
        </div>
        <div class="probe__content-info">
          <h5 class="probe__content-title">Набор XL</h5>
          <p class="probe__content-descr">4 шт. – баранина/кролик</p>
          <p class="probe__content-descr">
            3 шт. – говядина/индейка</p>
          <p class="probe__content-descr probe__content-descr--pack">Вес каждой упаковки – 700г</p>
          <div class="probe__content-price">
            <p class="probe__content-old">5 437.-</p>
            <p class="probe__content-new">3 810.-</p>
          </div>
        </div>
        <button class="probe__content-btn btn-reset" data-graph-path="kitxl">Заказать</button>
      </div>
      <div class="probe__content-item probe__content-item--order">
        <p class="probe__content-text">Рассчитаем в <br> каком количестве нужно кормить вашего хвостика рационами Zooov
        </p>
        <button class="probe__content-cost btn-reset" data-graph-path="cost">Расчитать</button>

      </div>
    </div>
  </div>
</section>
