<div class="tabs section-offset" data-tabs="tab">
  <h3 class="norms__title">Рекомендованные нормы кормления</h3>
  <ul class="tabs__nav list-reset">
    <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Для взрослых</button></li>
    <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Для щенков</button></li>

  </ul>
  <div class="tabs__content">
    <div class="tabs__panel">
      <ul class="norms__list list-reset">
        <li class="norms__list-item norms__list-item--title">
          <span>Вес собаки</span>
          <span>Суточная норма</span>
        </li>
        <li class="norms__list-item">
          <span>5кг</span>
          <span>100 - 150гр</span>
        </li>

        <li class="norms__list-item">
          <span>7кг</span>
          <span>140 - 210гр</span>
        </li>
        <li class="norms__list-item">
          <span>10кг</span>
          <span>200 - 300гр</span>
        </li>
        <li class="norms__list-item">
          <span>12кг</span>
          <span>240 - 360гр</span>
        </li>

        <li class="norms__list-item">
          <span>15кг</span>
          <span>300 - 450гр</span>
        </li>
        <li class="norms__list-item">
          <span>17кг</span>
          <span>340 - 510гр</span>
        </li>
        <li class="norms__list-item">
          <span>20кг</span>
          <span>400 - 600гр</span>
        </li>
        <li class="norms__list-item">
          <span>25кг</span>
          <span>500 - 750гр</span>
        </li>
      </ul>
    </div>
    <div class="tabs__panel">
      <ul class="norms__list list-reset">
        <li class="norms__list-item norms__list-item--title">
          <span>Вес собаки</span>
          <span>Суточная норма</span>
        </li>
        <li class="norms__list-item">
          <span>2кг</span>
          <span>100гр</span>
        </li>
        <li class="norms__list-item">
          <span>5кг</span>
          <span>250гр</span>
        </li>
        <li class="norms__list-item">
          <span>7кг</span>
          <span>350гр</span>
        </li>
        <li class="norms__list-item">
          <span>10кг</span>
          <span>500гр</span>
        </li>
        <li class="norms__list-item">
          <span>12кг</span>
          <span>600гр</span>
        </li>
        <li class="norms__list-item">
          <span>15кг</span>
          <span>750гр</span>
        </li>
        <li class="norms__list-item">
          <span>17кг</span>
          <span>850гр</span>
        </li>
        <li class="norms__list-item">
          <span>20кг</span>
          <span>1000гр</span>
        </li>
      </ul>
    </div>
    <p class="norms__text"><span>Суточная норма кормления</span> составляет <span>2-3%*</span> от
      <span>идеального</span><br>веса
      собаки.
    </p>

    <p class="norms__footnote">*Общие рекомендации. Некоторым собакам нужен бОльший % в зависимости от их активности и
      индивидуальных особенностей организма.</p>
  </div>
</div>
